* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
}

/* HEADER SECTION */

.header__left--img {
  height: 40px;
}

.header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  box-shadow: 0px 5px 8px -9px;
}

.header__left {
  display: flex;
}

.header__input {
  display: flex;
  align-items: center;
  background: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 9999px;
}

.header__input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header__middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__option > .MuiSvgIcon-root {
  color: gray;
  transition: 300ms all ease;
}

.header__option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
  transition: 300ms all ease;
}

.header__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info > h4 {
  margin-left: 10px;
}

.header__right {
  display: flex; 
}

.header__option--active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__option--active {
  border-bottom: 4px solid #2e81f4;
}

/* sidebar row */

.sidebar__row {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: all 300ms ease;
}

.sidebar__row:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.sidebar__row > h4 {
  margin-left: 20px;
  font-weight: 650;
}

.sidebar__row > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
}

/* Story Section */

.story {
  position: relative;
}
